<form action="/form" method="POST">
    <label for="name">Nome</label><br>
    <input id="name" type="text" name="name"/><br>

    <label for="email">E-mail</label><br>
    <input id="email" type="text" name="email"/><br>

    <label for="endereco">Endereco</label><br>
    <input id="endereco" type="text" name="endereco"/><br>

    <button type="submit">Send</button>
</form>
